FROM adoptopenjdk/openjdk11:x86_64-alpine-jdk-11.0.10_9 AS BUILD
WORKDIR /app/src
COPY src /app/src
RUN chmod +x ./mvnw ; ./mvnw clean package

FROM adoptopenjdk/openjdk11:x86_64-alpine-jre-11.0.10_9
ARG USER={{ mysql_user }}
ARG HOME=/home/${USER}
COPY --from=BUILD /app/src/target/*.jar ${HOME}/petclinic-application/
RUN adduser -D -u 1500 ${USER}; mkdir -p ${HOME}/petclinic-application; chown -R ${USER}:${USER} ${HOME}
USER ${USER}
CMD java -jar ${HOME}/petclinic-application/*.jar