SPRING_PROFILES_ACTIVE={{ spring_profiles_active }}
SPRING_DATASOURCE_URL="jdbc:mysql://{{ db_ip }}:{{ db_port }}/{{ mysql_database }}"
SPRING_DATASOURCE_USERNAME={{ mysql_user }} 
SPRING_DATASOURCE_PASSWORD={{ mysql_password }}